[submodule "caerus-spark-udf-compiler-from-rapids"]
	path = ../caerus-spark-udf-compiler-from-rapids
	url = https://github.com/open-infrastructure-labs/caerus-spark-udf-compiler-from-rapids.git
	branch = branch-21.10
